*.test.pitlor.dev {
    reverse_proxy {{ docker_host }}

    tls {
        dns cloudflare {{ lookup('ansible.builtin.env', 'CLOUDFLARE_AUTH_TOKEN') }}
    }

    log {
        format transform "{common_log}"
        output file /var/log/caddy/access.log
    }
}
