client
dev tun
proto udp
remote {{ vpn_server_ip }} 1194
resolv-retry infinite
nobind
{% if ansible_facts['os_family'] != "Windows" %}
user nobody
group nogroup
{% endif %}
persist-key
persist-tun
ca ca.crt
tls-crypt ta.key
cert client.crt
key client.key
remote-cert-tls server
cipher AES-256-GCM
auth SHA-256
verb 3
key-direction 1
script-security 2
up /etc/openvpn/update-systemd-resolved
down /etc/openvpn/update-systemd-resolved
down-pre
dhcp-option DOMAIN-ROUTE
