dependencies:
  - role: geerlingguy.swap
    become: true
    vars:
      swap_file_state: absent
  - role: geerlingguy.containerd
    become: true
  - role: xanmanning.k3s
    vars:
      k3s_become: true
      k3s_agent:
        node-label:
          - "{{ kubernetes_node_label }}"
