---
- name: Create homelab namespace
  kubernetes.core.k8s:
    name: '{{ kubernetes_homelab_namespace }}'
    api_version: v1
    kind: Namespace
    state: present

- name: Install CRD dependencies
  kubernetes.core.k8s:
    state: present
    definition:
      - apiVersion: helm.cattle.io/v1
        kind: HelmChart
        metadata:
          name: cloudnative-pg-chart
          namespace: '{{ kubernetes_homelab_namespace }}'
        spec:
          repo: https://cloudnative-pg.github.io/charts
          chart: cloudnative-pg
          version: 0.26.0
          targetNamespace: '{{ kubernetes_homelab_namespace }}'
      - apiVersion: helm.cattle.io/v1
        kind: HelmChart
        metadata:
          name: prometheus-operator-crds-chart
          namespace: '{{ kubernetes_homelab_namespace }}'
        spec:
          repo: https://prometheus-community.github.io/helm-charts
          chart: prometheus-operator-crds
          version: 17.0.2
          targetNamespace: '{{ kubernetes_homelab_namespace }}'
      - apiVersion: helm.cattle.io/v1
        kind: HelmChart
        metadata:
          name: csi-driver-smb-chart
          namespace: '{{ kubernetes_homelab_namespace }}'
        spec:
          repo: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-smb/master/charts
          chart: csi-driver-smb
          version: v1.16.0
          targetNamespace: '{{ kubernetes_homelab_namespace }}'
      - apiVersion: helm.cattle.io/v1
        kind: HelmChart
        metadata:
          name: cert-manager-chart
          namespace: '{{ kubernetes_homelab_namespace }}'
        spec:
          chart: oci://quay.io/jetstack/charts/cert-manager
          version: v1.18.2
          targetNamespace: '{{ kubernetes_homelab_namespace }}'
          valuesContent: |-
            crds:
              enabled: true
      - apiVersion: helm.cattle.io/v1
        kind: HelmChart
        metadata:
          name: velero
          namespace: '{{ kubernetes_homelab_namespace }}'
        spec:
          chart: velero
          repo: https://vmware-tanzu.github.io/helm-charts
          version: 10.1.2
          targetNamespace: '{{ kubernetes_homelab_namespace }}'
          valuesContent: |-
            credentials:
              secretContents:
                cloud: {{ lookup('ansible.builtin.env', 'GOOGLE_SERVICE_ACCOUNT_JSON') | quote }}
            snapshotsEnabled: true
            metrics:
              enabled: true
              scrapeInterval: 30s
            configuration:
              backupStorageLocation:
                - name: gcs-backup-location
                  provider: gcp
                  bucket: dev-pitlor-homelab-container-backups
              volumeSnapshotLocation:
                - name: gcs-snapshot-location
                  provider: gcp
            initContainers:
              - name: velero-plugin-for-gcp
                image: velero/velero-plugin-for-gcp:v1.8.0
                volumeMounts:
                  - mountPath: /target
                    name: plugins

- name: Pause for Cert Manager to install
  ansible.builtin.pause:
    seconds: 20

- name: Download barman cloud plugin
  ansible.builtin.get_url:
    url: https://github.com/cloudnative-pg/plugin-barman-cloud/releases/download/v0.6.0/manifest.yaml
    dest: ~/barman-cloud-plugin.yaml
    mode: '0664'

- name: Put proper namespace in barman cloud plugin
  ansible.builtin.replace:
    path: ~/barman-cloud-plugin.yaml
    regexp: 'cnpg-system'
    replace: '{{ kubernetes_homelab_namespace }}'

- name: Apply barman cloud plugin manifest to the cluster.
  kubernetes.core.k8s:
    state: present
    src: ~/barman-cloud-plugin.yaml

- name: Install homelab chart
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: helm.cattle.io/v1
      kind: HelmChart
      metadata:
        name: homelab-chart
        namespace: '{{ kubernetes_homelab_namespace }}'
      spec:
        chart: oci://us-central1-docker.pkg.dev/dev-pitlor-homelab/homelab-chart/homelab-containers
        version: 1.4.1
        targetNamespace: '{{ kubernetes_homelab_namespace }}'
        valuesContent: |-
          google:
            serviceAccountJson: {{ lookup('ansible.builtin.env', 'GOOGLE_SERVICE_ACCOUNT_JSON') | quote }}

          nas:
            password: {{ lookup('ansible.builtin.env', 'NAS_PASSWORD') | quote }}

          blueskyPds:
            jwtSecret: {{ lookup('ansible.builtin.env', 'BLUESKY_JWT_SECRET') | quote }}
            adminPassword: {{ lookup('ansible.builtin.env', 'BLUESKY_ADMIN_PASSWORD') | quote }}
            plcRotationKey: {{ lookup('ansible.builtin.env', 'BLUESKY_PLC_ROTATION_KEY') | quote }}
            emailSmtpUrl: {{ lookup('ansible.builtin.env', 'BLUESKY_EMAIL_SMTP_URL') | quote }}

          infisical:
            encryptionKey: {{ lookup('ansible.builtin.env', 'INFISICAL_ENCRYPTION_KEY') | quote }}
            authSecret: {{ lookup('ansible.builtin.env', 'INFISICAL_AUTH_SECRET') | quote }}   

          tandoor:
            secretKey: {{ lookup('ansible.builtin.env', 'TANDOOR_SECRET_KEY') | quote }}  
