proxmox_host = ""
proxmox_username = ""
proxmox_password = ""
proxmox_node = ""
proxmox_disk_storage_pool = ""
debian_iso_url = ""
debian_iso_checksum_url = ""
ssh_username = ""
ssh_password = ""
http_interface = ""
